{% extends "base.html" %}
{% block content %}
<h1>{{ t.no_words_found }}</h1>

{% if knowledgebase_dict is defined %}
<p>{{ t.no_words_found_in_knowledgebase }}</p>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        {% for k,v in knowledgebase_dict.items() %}
        <label>
           {% if v["status"] == status %}
                <input type="radio" name="knowledgebase" value="{{ k }}" checked>
                {{ v["status"] }} 
            {% else %}
                <input type="radio" name="knowledgebase" value="{{ k }}" >
                {{ v["status"] }} 
            {% endif %}
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn-student">
        {{ icons['success'] }} change
    </button>
</form>
{% endif %}
<a href='/admin'>Admin (CSV-Import)</a>
{% endblock %}