{% extends "base.html" %}
{% block content %}
<h1>{{ t.no_words_found }}</h1>
{% if knowledgebase_dict is defined %}
<p>{{ t.no_words_found_in_knowledgebase }}</p>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        <label> {{ icons.group }} {{ t.knowledgelevellabel or "Knowledge Level" }} :
            <select name="knowledgebase">
            {% for k,v in knowledgebase_dict.items() %}
                 <option  value="{{ k }}" {{ 'selected' if v["status"] == selected_kb }}>  {{ v["status"] }} </option>
            {% endfor %}
           </select>
        </label>
    </div>
    <div>
        <label>{{ icons.group }} {{ t['group'] }}:
            <select name="group">
                {% if groups %}
                    {% for g in groups %}
                    <option value="{{ g }}" {{ 'selected' if g == selected_group }}>{{ g.title() }}</option>
                    {% endfor %}
                {% else %}
                    <option value="all" {{ 'selected' if selected_group == 'all' }}>{{ icons.test }} {{ t['allwords'] }}</option>
                {% endif %}
            </select>
        </label>
    </div>
    <button type="submit" class="btn-student">
        {{ icons['success'] }} change
    </button>
</form>
{% endif %}
<a href='/admin'>Admin (CSV-Import)</a>
{% endblock %}